<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.spring.dao.FileDAO">
	<insert id="insertFile">
		insert into file(uuid, save_dir, file_name, file_type, bno, file_size)
		values(#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{bno}, #{fileSize})
	</insert>
	<select id="getList" resultType="com.ezen.spring.domain.FileVO">
		select * from file where bno = #{bno}
	</select>
	<delete id="removeFile">
		delete from file where uuid=#{uuid}
	</delete>
	<select id="selectListAllFile" resultType="com.ezen.spring.domain.FileVO">
		select * from file
	</select>
	<select id="getBnoToUuid" resultType="long">
		select bno from file where uuid = #{uuid}
	</select>

</mapper>